body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card-row {
  flex-direction: row;
}

@media (max-width: 780px) {
  .card-row {
    flex-direction: column;
  }
}


ul {
  -webkit-padding-start: 0;
}
